<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLFasWUNa-J8OYAM9McxoDlpBhkyY7veU</string>
	<key>GCM_SENDER_ID</key>
	<string>214208815474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase202324.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>basededadeslogin</string>
	<key>STORAGE_BUCKET</key>
	<string>basededadeslogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214208815474:ios:7288fc11736175a69d3deb</string>
</dict>
</plist>